.sidebarChat {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    transition: all ease-out .5s;
}

.sidebarChat:hover {
    background-color: #ededed;
}

.sidebarChat-info > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarChat-info {
    margin-left: 15px;
}

a {
    text-decoration: none !important;
    color: black;
}

.creator-form{
    display: flex;
    max-height: 30px;
    overflow: hidden;
}

.creator-form > input {
    border: none;
    background: #DCFBC6;
    height: 30px;

}

.creator-form > input:focus {
    outline: none;
}

.creator-form > button {
    flex: 1;
    background: white;
    border: none;
    cursor: pointer;
}

.creator-form > button:hover {
    background: black;
    color: white;
}